.card{
    width: 80px;
    height: 100px;
    border-radius: 6px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 6px;
}
.card-container img{
    width: 70px;
    height: 70px;
    border-radius: 6px;
    margin-bottom: 3px;
}
