.search-box-border{
    width: 150px;
    height:30px;
    margin: 0px 10px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.search-box{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFF;
    border-radius: 20px;
    

}

.search{
    width: 100px;
    height: 12px;
}

.search {
    font-family: 'Poppins',sans-serif;
    outline: none;
    border: none;
    font-size: 10px;
    
}

.search::placeholder{
    font-size: 8px;
    
}

.search-box img{
    cursor: pointer;
    width: 10px;
    height: 10px;
}
