.App {
  width: 100%;
  max-width: max(300px, 480px);
  position: relative;
  background: #FFF;
  padding-bottom: 100px;
}

.text-gradient {
  background: -webkit-linear-gradient(0deg, var(--pink), var(--blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.border-gradient {
 
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.gradient-right{
  background-image: linear-gradient(white, white), linear-gradient(to right, var(--pink), var(--blue));
}
.gradient-bottom{
  background-image: linear-gradient(white, white), linear-gradient(180deg, var(--pink), var(--blue));
}
.gradient-background-right{
  background: linear-gradient(to right, var(--pink), var(--blue));
}
.gradient-background-bottom{
  background: linear-gradient(180deg, var(--pink), var(--blue));
}


a{
  color: #FFF;
  text-decoration: none;
  opacity: 60%;
}
.active{

  opacity: 100%;
}

.card-slide{
  display: flex;
  padding: 10px;
  align-items: center;

  overflow: auto;
  gap: 20px;
}