:root{
  --pink:#C63AC0B5;
  --blue:#518EF8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  font-family: 'Inter',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: rgb(169, 169, 169);
 

}
#root{
  width:100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
