:root{
  --blue :#518EF8;
  --blue1 :rgb(84, 144, 248,0.4);
  --blue2 :rgb(84, 144, 248,0.6);

  --pink:#C63AC0;
  --pink1:rgb(198, 57, 191,0.2);
  --pink2:rgb(198, 57, 191,0.57);
  --grey1:#8391A1;
  --grey2:#F7F8F9;
  --white:#fff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  margin: 0;
  width: 100%;
  font-family: 'Inter',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background: rgb(169, 169, 169);
 

}
#root{
  width:100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  
  
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
