.codeCard-border{
    width: 100%;
    border: double 5px transparent;
    border-radius: 20px;
    margin: 2em 0;
   
    
}
.codeCard-inner{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 2em 0px;
    border: 5px solid #fff;
    border-radius: 20px;
    opacity: 60%;
}

.input-box{
    width: 90%;
    border: solid 3px transparent;
    border-radius: 19px;
    margin: 2em 0px;
    opacity: 100%;
}
.box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 9px;

    padding-left: 1em;

}

.code-btn{
    width: 30%;
    border: solid 3px transparent;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-txt{
    width: 100%;
    height: 100%;
    padding: 20px 0px;
    color: white;
    border-radius: 9px;
    text-align: center;
}